.grid-productos {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna en celular */
    gap: 20px;
    padding: 20px 0;
}

/* Cambio a 3 columnas en pantallas mayores a 768px (Tablet/PC) */
@media (min-width: 768px) {
    .grid-productos {
        grid-template-columns: repeat(3, 1fr);
    }
}